
{% extends '../counsellor/nav.html' %}

{% block title %}
  {% parent %}
  	Admin Panel
{% endblock %}

{% block customCSS %}
 {% parent %}
   <link href="css/style.css" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
  {% parent %}
  	<table id="userData" class="table table-striped table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>E-Mail</th>
                                    <th>Phone</th>
                                    <th>Email Confirmed</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in userData  %}
                                   <tr>
                                        <td>{{ user.first_name }}</td> 
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.phone.mobile }}</td>
                                        {% if user._email  %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>
                                            <a href="/admin/users/remove/<%= userData[i]._id %>"><span class="glyphicon glyphicon-remove" title="Remove" style="color:#9B111E;" aria-hidden="true"></span></a>  
                                            <!--{% if !user._approved   %}
                                                <a href="/admin/users/approve/<%= userData[i]._id %>"><span class="glyphicon glyphicon-ok" title="Approve" style="color:#3c763d;" aria-hidden="true"></span></a>
                                            {% else %}                                                <a href="/admin/users/disable/<%= userData[i]._id %>"><span class="glyphicon glyphicon-ban-circle" title="Disable" style="color:#FFA500;" aria-hidden="true"></span></a>
                                            {% endif %}
                                            {% if !user._admin %}
                                                <a href="/admin/users/admin/<%= userData[i]._id %>"><i title="Admin" class="fa fa-fw fa-user-plus"></i></a>
                                            {% else %}
                                                <a href="/admin/users/revoke/<%= userData[i]._id %>"><i title="Remove Admin" class="fa fa-fw fa-user-times" style="color:#333333;"></i></a>
                                            {% endif %}
                                            <a href="/admin/users/remove/<%= userData[i]._id %>"><span class="glyphicon glyphicon-remove" title="Remove" style="color:#9B111E;" aria-hidden="true"></span></a>      
                                            <a href="/users/profile/<%=userData[i]._id%>"><span class="glyphicon glyphicon-new-window" title="Profile" style="color:#8a6d3b;" aria-hidden="true"></span></a> -->
                                        </td>
                                   </tr>
                                {% endfor %}
                            </tbody>
                        </table>
{% endblock %}

<!-- Section: about -->
    
<!--//End-login-form-->
	