
{% extends 'nav.html' %}

{% block title %}
  {% parent %}
  	Add Univeristy in The United States
{% endblock %}
{% block customCSS %}
 {% parent %}
   <link href="css/style.css" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
  {% parent %}
  	<div class="form">
  		<form action="/counsellor/addUsa" method="POST">
  			<div class="row">
  				{% if error.length > 0 %}
  				<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{ error[0] }}
						</div>
				{% endif %}
				{% if success.length > 0 %}
  				<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss ="alert" aria-hidden="true">×</button>
							{{ success[0] }}
						</div>
				{% endif %}
  				<div class="col-xs-12 col-sm-6 form-group">
  				<label for="university">University Name</label>
  						<input class="form-control" class="form-group" type="text" name="university" placeholder="University Name" />
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  				<label for="type">Univeristy Type</label>
  						<select name="type" class="form-control">
   						 	<option value="public">Public</option>
    						<option value="private">Private</option>
    					</select>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="coursetype">Type of Course</label>
  						<select name="coursetype" placeholder="coursetype" class="form-control">
                <option value="Under Grad">Under Grad</option>
                <option value="Graduation">Graduation</option>
                <option value="PhD">PhD</option>
                <option value="Semester Abroad">Semester Abroad</option>
                <option value="Semester Exchange">Semester Exchange</option>
                <option value="Summer Courses">Summer Courses</option>
                <option value="ESL">ESL</option>
                <option value="Associate Degree">Associate Degree</option>

    					</select>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="category">University Category</label>
  						<select name="category" class="form-control">
                <option value="Univeristy">University</option>
    						<option value="college">Community College</option>
    					</select>
            </div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
			<label for="dept">Department</label>
			<input class="form-control" type="text" name="dept" placeholder="Department Name"/>
            </div>
          </div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 form-group">
  				<label for="usp">USP</label>
  					<textarea class="form-control" name="usp" id="usp" rows="5"></textarea>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="city">City</label>
  						<input class="form-control" class="form-group" type="text" name="city" placeholder="City"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="state">State</label>
  						<input class="form-control" type="text" name="state" placeholder="state"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="campus">Campus</label>
  						<input class="form-control" type="text" name="campus" placeholder="Campus"/>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="course">Course Name</label>
  						<input class="form-control" type="text" name="course" placeholder="course"/>
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="programLink">Program Link</label>
              <input class="form-control" type="text" name="programLink" placeholder="Program Link"/>
            </div>
          </div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="intake">Total Intake</label>
  						<input class="form-control" type="text" name="intake" placeholder="Total Intake"/>
  					</div>
  				</div>
  			</div>
        <div class="row">
        <h5>Application Deadlines</h5>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="fallround1"> Fall </label>
            <input class="form-control" type="text" placeholder ="DD/MM/YYYY" name="fallround1" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="springround1">Spring</label>
            <input class="form-control" type="text" name="springround1" placeholder ="DD/MM/YYYY" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="summerround1">Summer </label>
            <input class="form-control" placeholder ="DD/MM/YYYY" type="text" name="summerround1"/>
            </div>
          </div>
        </div>
        <div class="row">
        <h5>Funding Deadlines</h5>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="fallround1"> Fall  </label>
            <input class="form-control" type="text" placeholder ="DD/MM/YYYY" name="fallRound1" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="springround1">Spring  </label>
            <input class="form-control" type="text" name="springRound1" placeholder ="DD/MM/YYYY" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="summerround1">Summer  </label>
            <input class="form-control" placeholder ="DD/MM/YYYY" type="text" name="summerRound1"/>
            </div>
          </div>
        </div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="appFee">Application Fees</label>
  						<input class="form-control" type="text" name="appFee" placeholder="Application Fees"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="annualFee">Annual Fees</label>
  						<input class="form-control" placeholder="Annual Fees" type="text" name="annualFee"/>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="scholarhsipAmt">Link to Application Form</label><!-- IMPORTANT Renamed Scholarhsip amt to Application link ONLY in frontend for convinience stored as scholarship amount in Database-->
  						<input class="form-control" class="form-group" type="text" name="scholarshipAmt" placeholder="Application Link"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="link">Link to Scholarhsip Application</label>
  						<input class="form-control" type="text" name="applicationlink" placeholder="Application Link"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="scholarhsipDeadline">Scholarhsip Deadline</label>
  						<input class="form-control" type="text" name="scholarshipDeadline" placeholder="Scholarhsip Deadline"/>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="SFRatio">Student To Faculty Ratio</label>
  						<input class="form-control" type="text" name="SFRatio" placeholder ="Student To Faculty Ratio">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="acceptanceRate">Acceptance Rate</label>
  						<input class="form-control" type="text" name="acceptanceRate" placeholder="Acceptance Rate">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="gre">GRE</label>
  						<input class="form-control" type="number" min="0" max="340" name="gre" placeholder="GRE">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="gmat">GMAT</label>
  						<input class="form-control" type="number" min="0" max="800" name="gmat" placeholder="GMAT">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="sat">SAT</label>
  						<input class="form-control" type="number" min="0" max="2400" name="sat" placeholder="SAT">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="satSub">SAT Subject (It must be a number)</label>
  						<input class="form-control" type="text" name="satSub" placeholder="SAT Subject">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="ielts">IELTS</label>
            <select name="ielts" class="form-control">
  						<option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="2.5">2.5</option>
              <option value="3">3</option>
              <option value="3.5">3.5</option>
              <option value="4">4</option>
              <option value="4.5">4.5</option>
              <option value="5">5</option>
              <option value="5.5">5.5</option>
              <option value="6">6</option>
              <option value="6.5">6.5</option>
              <option value="7">7</option>
              <option value="7.5">7.5</option>
              <option value="8">8</option>
              <option value="8.5">8.5</option>
              <option value="9">9</option>
            </select>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="toefl">TOEFL</label>
  						<input class="form-control" type="number" min="0" max="120" name="toefl" placeholder="TOEFL">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="act">PTE</label>
  						<input class="form-control" type="text" name="act" placeholder="PTE">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="backlogs">BackLogs</label>
  						<input class="form-control" type="text" name="backlogs" placeholder="BackLogs">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="percentInBachelor">Percentage in Bachelors</label>
  						<input class="form-control" type="text" name="percentInBachelor" placeholder="Percentage in Bachelors">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="workExp">Work Experience</label>
  						<input class="form-control" type="text" name="workExp" placeholder="Work Experience">
  					</div>
  				</div>
  			</div>
  			<button type="submit" role="submit" class="btn btn-default btn-large center-block">ADD UNIVERISTY</button>
  		</form>
  	</div>
{% endblock %}
