{% extends 'nav.html' %}

{% block title %}
  {% parent %}
  	Add Univeristy in UK
{% endblock %}

{% block customCSS %}
 {% parent %}
   <link href="css/style.css" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
  {% parent %}
  	<div class="form">
  		<form action="/counsellor/addUK" method="POST">
  			<div class="row">
  				{% if error.length > 0 %}
  				<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{ error[0] }}
						</div>
				{% endif %}
				{% if success.length > 0 %}
  				<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{ success[0] }}
						</div>
				{% endif %}
  				<div class="col-xs-12 col-sm-12 form-group">
  				    <label for="university">University Name</label>
  						<input class="form-control" required class="form-group" type="text" name="university" placeholder="University Name" />
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 form-group">
  				<label for="usp">USP</label>
  					<textarea class="form-control" name="usp" id="usp" rows="5"></textarea>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="city">City</label>
  						<input class="form-control" class="form-group" type="text" name="city" placeholder="City"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="region">Region</label>
  						<input class="form-control" type="text" name="region" placeholder="Region"/>
  					</div>
  				</div>
        </div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="dept">Department</label>
					  <input class="form-control" type="text" name="dept" placeholder="Department Name"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="sDeadline">Fall Deadline</label>
  						<input class="form-control" type="text" name="fDeadline" placeholder="DD/MM/YYYY"/>
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="wDeadline">Spring Deadline</label>
  						<input class="form-control" type="text" name="deadline" placeholder="DD/MM/YYYY"/>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="course">Course Name</label>
  						<input class="form-control" type="text" name="course" placeholder="course"/>
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="programLink">Program Link</label>
  						<input class="form-control" type="text" name="programLink" placeholder="Program Link"/>
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="applicationFee">Application Fee</label>
  						<input class="form-control" type="text" name="applicationFee" placeholder="Application Fee"/>
  					</div>
  				</div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="type">Course Type</label>
              <select name="type" type="text" class="form-control">
                <option value="A Levels">A Levels</option>
                <option value="Foundation">Foundation</option>
                <option value="International Year One">International Year One</option>
                <option value="Year 1">Year 1</option>
                <option value="HNC">HNC</option>
                <option value="HND">HND</option>
                <option value="Foundation Diploma in Art and Design">Foundation Diploma in Art and Design</option>
                <option value="Bachelors">Bachelors</option>
                <option value="Top up degree">Top up degree</option>
                <option value="English Language Classes">English Language Classes</option>
                <option value="Pre Masters">Pre Masters</option>
                <option value="Pre-Sessional English">Pre-Sessional English</option>
                <option value="MSc">MSc</option>
                <option value="MA">MA</option>
                <option value="MBA">MBA</option>
                <option value="Summer Courses">Summer Courses</option>
                <option value="PhD">PhD</option>
                <option value="Semester Exchange">Semester Exchange</option>
                <option value="Exchange Program">Exchange Program</option>
                <option value="Professional Program">Professional Program</option>

              </select>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="intake">Total Intake</label>
  						<input class="form-control" type="text" name="intake" placeholder="Total Intake"/>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="appFee">Intial CAS Fee </label>
  						<input class="form-control" type="text" name="visaFee" placeholder="Initial Visa Fee"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="annualFee">Annual Fee </label>
  						<input class="form-control" type="text" name="annualFee"/>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="scholarhsipAmt">Scholarship Amount</label>
  						<input class="form-control" class="form-group" type="text" name="scholarshipAmt" placeholder="Scholarship Amount"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="link">Link to Scholarhsip Application</label>
  						<input class="form-control" type="text" name="link" placeholder="Application Link"/>
  					</div>
  				</div>
  			</div>
        <div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="ielts">IELTS</label>
  						<input class="form-control" type="text" name="ielts" placeholder="ielts"/>
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="toefl">TOEFL</label>
  						<input class="form-control" type="text" name="toefl" placeholder="toefl"/>
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="pte">PTE</label>
  						<input class="form-control" type="text" name="pte" placeholder="pte"/>
  					</div>
  				</div>
        </div>
  			<button type="submit" role="submit" class="btn btn-default btn-large center-block">ADD UNIVERISTY</button>
  		</form>
  	</div>
{% endblock %}
