
{% extends 'nav.html' %}

{% block title %}
  {% parent %}
  	Duplicating Univeristy in Canada
{% endblock %}

{% block customCSS %}
 {% parent %}
   <link href="css/style.css" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
  {% parent %}
  	<div class="form">
  		<form action="/counsellor/addCanada" method="POST">
  			<div class="row">
  				{% if error.length > 0 %}
  				<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{ error[0] }}
						</div>
				{% endif %}
				{% if success.length > 0 %}
  				<div class="alert alert-success alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							{{ success[0] }}
						</div>
				{% endif %}
  				<div class="col-xs-12 col-sm-12 form-group">
  				    <label for="university">University Name</label>
  						<input class="form-control" required class="form-group" type="text" name="university" {% if univData.university.length > 0 %} value="{{ univData.university }}" {% endif %} placeholder="University Name" />
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="coursetype">Type of Course</label>
            <select name="coursetype" class="form-control">
            <option value="" {% if univData.type =="" %} selected {%endif%} ></option>
            <option {% if univData.type == "Diploma" %} selected {%endif%} value="Diploma">Diploma</option>
            <option {% if univData.type == "Bachelors" %} selected {%endif%} value="Bachelors">Bachelors</option>
            <option {% if univData.type == "Masters" %} selected {%endif%} value="Masters">Masters</option>
            <option {% if univData.type == "MBA" %} selected {%endif%} value="MBA">MBA</option>
            <option {% if univData.type == "PhD" %} selected {%endif%} value="PhD">PhD</option>
            <option {% if univData.type == "Semester Abroad" %} selected {%endif%} value="Semester Abroad">Semester Abroad</option>
            <option {% if univData.type == "Semester Exchange" %} selected {%endif%} value="Semester Exchange">Semester Exchange</option>
            <option {% if univData.type == "Summer Courses" %} selected {%endif%} value="Summer Courses">Summer Courses</option>
            <option {% if univData.type == "Language" %} selected {%endif%} value="Language">Language</option>

            </select>
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
              <div class="form-group">
              <label for="programs">PROGRAM</label>
              <input name="program" type="text" value="{{univData.program}}" placeholder="program" class="form-control">
              </div>
  			  </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="dept">Department</label>
			<input class="form-control" type="text" value="{{univData.department}}" name="dept" placeholder="Department Name"/>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
              <label for="spp">SPP COLLEGES PROGRAM</label>
              <select name="spp" class="form-control">
              <option value="" {% if univData.spp =="" %} selected {%endif%} ></option>
              <option {% if univData.spp == "Diploma" %} selected {%endif%} value="Diploma">Diploma</option>
              <option {% if univData.spp == "Bachelors" %} selected {%endif%} value="Bachelors">Bachelors</option>
              <option {% if univData.spp == "Masters" %} selected {%endif%} value="Masters">Masters</option>
              <option {% if univData.spp == "MBA" %} selected {%endif%} value="MBA">MBA</option>
              <option {% if univData.spp == "PhD" %} selected {%endif%} value="PhD">PhD</option>
              <option {% if univData.spp == "Semester Abroad" %} selected {%endif%} value="Semester Abroad">Semester Abroad</option>
              <option {% if univData.spp == "Semester Exchange" %} selected {%endif%} value="Semester Exchange">Semester Exchange</option>
              <option {% if univData.spp == "Summer Courses" %} selected {%endif%} value="Summer Courses">Summer Courses</option>
              <option {% if univData.spp == "Language" %} selected {%endif%} value="Language">Language</option>

              </select>
            </div>
          </div>
            <div class="col-xs-12 col-sm-6 form-group">
              <div class="form-group">
              <label for="sppPrograms">SPP PROGRAM</label>
              <input class="form-control" class="form-group" type="text" name="sppProgram" placeholder="SPP Program" value="{{ univData.sppProgram }}"  />
            </div>
          </div>
          <div class="row">
    				<div class="col-xs-12 col-sm-6 form-group">
    					<div class="form-group">
    					<label for="sppcollegename">SPP COLLEGE NAME</label>
    						<input class="form-control" class="form-group" value="{{univData.sppCollegeName}}" type="text" name="sppCollegeName" placeholder="SPP COLLEGE NAME"/>
    					</div>
    				</div>
    				<div class="col-xs-12 col-sm-6 form-group">
    					<div class="form-group">
    					<label for="programlink">PROGRAM LINK</label>
    						<input class="form-control" type="text" value="{{univData.programLink}}" name="programLink" placeholder="Program Link"/>
    					</div>
    				</div>
          </div>
        </div>
  			<div class="row">
  				<div class="col-xs-12 form-group">
  				<label for="usp">USP</label>
  					<textarea class="form-control" name="usp" id="usp" rows="5" >{{ univData.usp }}</textarea>
  				</div>
  			</div>
        <div class="row">
          <div class="col-xs-12 form-group">
          <label for="usp">USP of SPP Colleges</label>
            <textarea class="form-control" name="sppusp" id="usp" rows="5">{{ univData.sppusp }}</textarea>
          </div>
        </div>
        <div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="deadlines">FALL</label>
            <input class="form-control" type="text" value="{{univData.deadline.fall}}" name="fall" placeholder="DD/MM/YYYY" >
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="deadlines">SPRING</label>
            <input class="form-control" type="text" value="{{univData.deadline.spring}}" name="spring" placeholder="DD/MM/YYYY" >
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="deadlines">SUMMER</label>
            <input class="form-control" type="text" value="{{univData.deadline.summer}}" name="summer" placeholder="DD/MM/YYYY" >
  					</div>
  				</div>
        </div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="city">City</label>
  						<input class="form-control" class="form-group" type="text" name="city" {% if univData.city.length > 0 %} value="{{ univData.city }}" {% endif %} placeholder="City"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="state">Province</label>
  						<input class="form-control" type="text" name="province" {% if univData.province.length > 0 %} value="{{ univData.province }}" {% endif %} placeholder="state"/>
  					</div>
  				</div>
        </div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="intake">Total Intake</label>
  						<input class="form-control" type="text" name="intake"  {% if univData.intake > 0 %} value="{{ univData.intake }}" {% endif %} placeholder="Total Intake"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="appFee">Application Fees</label>
  						<input class="form-control" type="text" name="appFee" placeholder="Application Fees" value="{{univData.appFee}}"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="annualFee">Annual Fees</label>
  						<input class="form-control" type="text" name="annualFee" value="{{ univData.annualFee }}"/>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="scholarhsipAmt">Scholarship Amount</label>
  						<input class="form-control" class="form-group" type="text" name="scholarshipAmt" value="{{ univData.scholarship.amount }}" placeholder="Scholarship Amount"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="link">Link to Scholarhsip Application</label>
  						<input class="form-control" type="text" name="link"  value="{{ univData.scholarship.url }}" placeholder="link"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="scholarhsipDeadline">Scholarhsip Deadline</label>
  						<input class="form-control" type="text" name="scholarshipDeadline"  value="{{ univData.scholarshipDeadline }}" placeholder="Scholarhsip Deadline"/>
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="SFRatio">Student To Faculty Ratio</label>
  						<input class="form-control" type="text" name="SFRatio"  {% if univData.SFRatio > 0 %} value="{{ univData.SFRatio }}" {% endif %} placeholder ="Student To Faculty Ratio">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="acceptanceRate">Acceptance Rate</label>
  						<input class="form-control" type="text" name="acceptanceRate"  {% if univData.acceptanceRate > 0 %} value="{{ univData.acceptanceRate }}" {% endif %} placeholder="Acceptance Rate">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="gre">GRE</label>
  						<input class="form-control" type="number" min="0" max="340" name="gre"  {% if univData.gre > 0 %} value="{{ univData.gre }}" {% endif %} placeholder="GRE">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="gmat">GMAT</label>
  						<input class="form-control" type="number" min="0" max="800" name="gmat"  {% if univData.gmat > 0 %} value="{{ univData.gmat }}" {% endif %} placeholder="GMAT">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="sat">SAT</label>
  						<input class="form-control" type="number" min="0" max="2400" name="sat"  {% if univData.sat > 0 %} value="{{ univData.sat }}" {% endif %} placeholder="SAT">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="satSub">SAT Subject</label>
  						<input class="form-control" type="text" name="satSub"  {% if univData.satSub > 0 %} value="{{ univData.satSub }}" {% endif %} placeholder="SAT Subject">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="ielts">IELTS</label>
  						<input class="form-control" name="ielts" type="number" min="0" max="9" step="0.5"  {% if univData.ielts > 0 %} value="{{ univData.ielts }}" {% endif %} placeholder="IELTS"/>
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="toefl">TOEFL</label>
  						<input class="form-control" type="number" min="0" max="120" name="toefl"  {% if univData.toefl > 0 %} value="{{ univData.toefl }}" {% endif %} placeholder="TOEFL">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="act">ACT</label>
  						<input class="form-control" type="text" name="act"  {% if univData.act > 0 %} value="{{ univData.act }}" {% endif %} placeholder="ACT">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="backlogs">BackLogs</label>
  						<input class="form-control" type="text" name="backlogs"  {% if univData.backlogs > 0 %} value="{{ univData.backlogs }}" {% endif %} placeholder="BackLogs">
  					</div>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="percentInBachelor">Percentage in Bachelors</label>
  						<input class="form-control" type="text" name="percentInBachelor"  {% if univData.percentInBachelor > 0 %} value="{{ univData.percentInBachelor }}" {% endif %} placeholder="Percentage in Bachelors">
  					</div>
  				</div>
  				<div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="workExp">Work Experience</label>
  						<input class="form-control" type="text" name="workExp"  {% if univData.workExp > 0 %} value="{{ univData.workExp }}" {% endif %} placeholder="Work Experience">
  					</div>
  				</div>
  			</div>
  			<button type="submit" role="submit" class="btn btn-default btn-large center-block">SAVE</button>
  		</form>
  	</div>
{% endblock %}
