
{% extends 'nav.html' %}

{% block title %}
  {% parent %}
  Duplicating  Univeristy in UK
{% endblock %}

{% block customCSS %}
 {% parent %}
   <link href="css/style.css" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
  {% parent %}
    <div class="form">
      <form action="/counsellor/addUK" method="POST">
        <div class="row">
          {% if error.length > 0 %}
          <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{ error[0] }}
            </div>
        {% endif %}
        {% if success.length > 0 %}
          <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{ success[0] }}
            </div>
        {% endif %}
          <div class="col-xs-12 col-sm-12 form-group">
              <label for="university">University Name</label>
              <input class="form-control" required class="form-group" type="text" name="university" placeholder="University Name" {% if univData.university.length > 0 %} value="{{ univData.university }}" {% endif %} />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
          <label for="usp">USP</label>
            <textarea class="form-control" name="usp" id="usp" rows="5" >{% if univData.usp.length > 0 %} {{ univData.usp }} {% endif %} </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="city">City</label>
              <input class="form-control" class="form-group" type="text" name="city" placeholder="City" value="{{ univData.city }}" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="region">Region</label>
              <input class="form-control" type="text" name="region" placeholder="Region" value="{{ univData.region }}" />
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="dept">Department</label>
            <input class="form-control" type="text" value="{{univData.department}}" name="dept" placeholder="Department Name"/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="sDeadline">Fall Deadline</label>
  						<input class="form-control" type="text" value="{{univData.fDeadline}}" name="fDeadline" placeholder="DD/MM/YYYY"/>
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="deptDeadline">Spring Deadline</label>
              <input class="form-control" type="text" name="deadline" placeholder="DD/MM/YYYY" value="{{univData.deadline }}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="course">Course Name</label>
              <input class="form-control" type="text" value="{{univData.coursename}}" name="course" placeholder="course"/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="programLink">Program Link</label>
              <input class="form-control" type="text" value="{{univData.programLink}}" name="programLink" placeholder="Program Link"/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="applicationFee">Application Fee</label>
              <input class="form-control" type="text" value="{{univData.applicationFee}}" name="applicationFee" placeholder="Application Fee"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
  					<div class="form-group">
  					<label for="type">Course Type</label>
              <select name="type" type="text" class="form-control">
                <option {% if univData.type == "A Levels" %} selected {%endif%} value="A Levels">A Levels</option>
                <option {% if univData.type == "Foundation" %} selected {%endif%} value="Foundation">Foundation</option>
                <option {% if univData.type == "International Year One" %} selected {%endif%} value="International Year One">International Year One</option>
                <option {% if univData.type == "Year 1" %} selected {%endif%} value="Year 1">Year 1</option>
                <option {% if univData.type == "HNC" %} selected {%endif%} value="HNC">HNC</option>
                <option {% if univData.type == "HND" %} selected {%endif%} value="HND">HND</option>
                <option {% if univData.type == "Foundation Diploma in Art and Design" %} selected {%endif%} value="Foundation Diploma in Art and Design">Foundation Diploma in Art and Design</option>
                <option {% if univData.type == "Bachelors" %} selected {%endif%} value="Bachelors">Bachelors</option>
                <option {% if univData.type == "Top up degree" %} selected {%endif%} value="Top up degree">Top up degree</option>
                <option {% if univData.type == "English Language Classes" %} selected {%endif%} value="English Language Classes">English Language Classes</option>
                <option {% if univData.type == "Pre Masters" %} selected {%endif%} value="Pre Masters">Pre Masters</option>
                <option {% if univData.type == "Pre-Sessional English" %} selected {%endif%} value="Pre-Sessional English">Pre-Sessional English</option>
                <option {% if univData.type == "MSc" %} selected {%endif%} value="MSc">MSc</option>
                <option {% if univData.type == "MA" %} selected {%endif%} value="MA">MA</option>
                <option {% if univData.type == "MBA" %} selected {%endif%} value="MBA">MBA</option>
                <option {% if univData.type == "Summer Courses" %} selected {%endif%} value="Summer Courses">Summer Courses</option>
                <option {% if univData.type == "PhD" %} selected {%endif%} value="PhD">PhD</option>
                <option {% if univData.type == "Semester Exchange" %} selected {%endif%} value="Semester Exchange">Semester Exchange</option>
                <option {% if univData.type == "Exchange Program" %} selected {%endif%} value="Exchange Program">Exchange Program</option>
                <option {% if univData.type == "Professional Program" %} selected {%endif%} value="Professional Program">Professional Program</option>

              </select>
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="intake">Total Intake</label>
              <input class="form-control" type="text" name="intake" placeholder="Total Intake" {% if univData.intake > 0 %} value="{{ univData.intake }}" {% endif %} />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="appFee">Intial CAS Fee </label>
              <input class="form-control" type="text" name="visaFee" placeholder="Initial Visa Fee" {% if univData.casFee > 0 %} value="{{ univData.casFee }}" {% endif %} />
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="annualFee">Annual Fee </label>
              <input class="form-control" type="text" name="annualFee" {% if univData.annualFee > 0 %} value="{{ univData.annualFee }}" {% endif %} />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="scholarhsipAmt">Scholarship Amount</label>
              <input class="form-control" class="form-group" type="text" name="scholarshipAmt" placeholder="Scholarship Amount" value="{{ univData.scholarship.amount }}"/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="link">Link to Scholarhsip Application</label>
              <input class="form-control" type="text" name="link" placeholder="Application Link" value="{{ univData.scholarship.url }}"/>
            </div>
          </div>
        </div>
        <div class="row">
  				<div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="ielts">IELTS</label>
  						<input class="form-control" type="text" name="ielts" placeholder="ielts" value="{{ univData.ielts }}" />
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="toefl">TOEFL</label>
  						<input class="form-control" type="text" name="toefl" placeholder="toefl" value="{{ univData.toefl }}" />
  					</div>
  				</div>
          <div class="col-xs-12 col-sm-4 form-group">
  					<div class="form-group">
  					<label for="pte">PTE</label>
  						<input class="form-control" type="text" name="pte" placeholder="pte" value="{{ univData.pte }}" />
  					</div>
  				</div>
        </div>
        <button type="submit" role="submit" class="btn btn-default btn-large center-block">SAVE</button>
      </form>
    </div>
{% endblock %}
