
{% extends 'nav.html' %}

{% block title %}
  {% parent %}
   Duplicating Univeristy in The United States
{% endblock %}

{% block customCSS %}
 {% parent %}
   <link href="css/style.css" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
  {% parent %}
  <a href="/counsellor/duplicateusa/{{ univData._id.toString() }}"><button type="button" name="button">Duplicate with changes</button></a>
    <div class="form">
      <form action="/counsellor/addUsa" method="POST">
        <div class="row">
          {% if error.length > 0 %}
          <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{ error[0] }}
            </div>
        {% endif %}
        {% if success.length > 0 %}
          <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{ success[0] }}
            </div>
        {% endif %}
          <div class="col-xs-12 col-sm-6 form-group">
          <label for="university">University Name</label>
              <input class="form-control" required class="form-group" type="text" name="university" value="{{ univData.university }}" />
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
          <label for="type">Univeristy Type</label>
              <select name="type" class="form-control" value="{{ univData.type }}">
                <option {% if univData.type == "public" %} selected {%endif%} value="public">Public</option>
                <option {% if univData.type == "private" %} selected {%endif%} value="private">Private</option>
              </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="coursetype">Type of Course</label>
              <select name="coursetype" class="form-control">
                <option {% if univData.course == "Under Grad" %} selected {%endif%} value="Under Grad">Under Grad</option>
                <option {% if univData.course == "Graduation" %} selected {%endif%} value="Graduation">Graduation</option>
                <option {% if univData.course == "PhD" %} selected {%endif%} value="PhD">PhD</option>
                <option {% if univData.course == "Semester Abroad" %} selected {%endif%} value="Semester Abroad">Semester Abroad</option>
                <option {% if univData.course == "Semester Exchange" %} selected {%endif%} value="Semester Exchange">Semester Exchange</option>
                <option {% if univData.course == "Summer Courses" %} selected {%endif%} value="Summer Courses">Summer Courses</option>
                <option {% if univData.course == "ESL" %} selected {%endif%} value="ESL">ESL</option>
                <option {% if univData.course == "Associate Degree" %} selected {%endif%} value="Associate Degree">Associate Degree</option>

              </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="category">University Category</label>
              <select name="category" id="category" class="form-control" value="{{ univData.category }}">
              <option {% if univData.category == "university" %} selected {%endif%} value="univeristy">University</option>
                <option {% if univData.category == "college" %} selected {%endif%} value="college">Community College</option>
              </select>
              </div>
          </div>

          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="dept">Department</label>
            <input class="form-control" type="text" value="{{univData.department}}" name="dept" placeholder="Department Name"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
          <label for="usp">USP</label>
            <textarea class="form-control" name="usp" name="usp" id="usp" rows="5" >{{univData.usp}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="city">City</label>
              <input class="form-control" class="form-group" type="text" name="city" value="{{ univData.city }}" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="state">State</label>
              <input class="form-control" type="text" name="state" value="{{ univData.state }}" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="campus">Campus</label>
              <input class="form-control" type="text" name="campus" value="{{ univData.campus }}"/>
            </div>
          </div>
        </div>
        <div class="row">


        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="course">Course Name</label>
              <input class="form-control" type="text" name="course" value="{{ univData.coursename }}" />
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="programLink">Program Link</label>
              <input class="form-control" type="text" value={{univData.programLink}} name="programLink" placeholder="Program Link"/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="intake">Total Intake</label>
              <input class="form-control" type="text" name="intake" value="{{ univData.intake }}" />
            </div>
          </div>
        </div>

        <div class="row">
        <h5>Application Deadlines</h5>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="fallround1"> Fall</label>
            <input class="form-control" type="text" placeholder ="DD/MM/YYYY" name="fallround1" value = "{{ univData.applicationdeadline.fallround1 }}"/>
            </div>
          </div>

          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="springround1">Spring </label>
            <input class="form-control" type="text" name="springround1" placeholder ="DD/MM/YYYY" value = " {{univData.applicationdeadline.springround1}}" />
            </div>
          </div>

          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="summerround1">Summer </label>
            <input class="form-control" placeholder ="DD/MM/YYYY" type="text" name="summerround1" value = " {{univData.applicationdeadline.summerround1 }}" />
            </div>
          </div>
        </div>
        <div class="row">
        <h5>Funding Deadlines</h5>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="fallround1"> Fall  </label>
            <input class="form-control" type="text" placeholder ="DD/MM/YYYY" name="fallRound1" value = " {{ univData.fundingdeadline.fallround1 }}" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="springround1">Spring  </label>
            <input class="form-control" type="text" name="springRound1" placeholder ="DD/MM/YYYY" value = " {{univData.applicationdeadline.springround1 }}" />
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 form-group">
            <div class="form-group">
              <label for="summerround1">Summer  </label>
            <input class="form-control" placeholder ="DD/MM/YYYY" type="text" name="summerRound1" value = " {{ univData.applicationdeadline.summerround1 }}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="appFee">Application Fees</label>
              <input class="form-control" type="text" name="appFee" value="{{ univData.appFee }}"/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="annualFee">Annual Fees</label>
              <input class="form-control" type="text" name="annualFee" value="{{ univData.annualFee }}"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="scholarshipAmt">Link to Application Form</label><!-- IMPORTANT Renamed Scholarhsip amt to Application link ONLY in frontend for convinience stored as scholarship amount in Database -->
              <input class="form-control" class="form-group" type="text" name="scholarshipAmt" value="{{ univData.scholarship.amount }} "/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="link">Link to Scholarhsip Application</label>
              <input class="form-control" type="text" name="link1" value="{{ univData.scholarship.url }} "/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 form-group">
            <div class="form-group">
            <label for="scholarhsipDeadline">Scholarhsip Deadline</label>
              <input class="form-control" type="text" name="scholarshipDeadline" value="{{ univData.scholarshipDeadline }}" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="SFRatio">Student To Faculty Ratio</label>
              <input class="form-control" type="number" name="SFRatio" value="{{ univData.SFRatio }}">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="acceptanceRate">Acceptance Rate</label>
              <input class="form-control" type="text" name="acceptanceRate" value="{{ univData.acceptanceRate }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="gre">GRE</label>
              <input class="form-control" type="number" name="gre" min="0" max="340" value="{{ univData.gre }}">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="gmat">GMAT</label>
              <input class="form-control" type="number" name="gmat" min="0" max="800" value="{{ univData.gmat }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <di0v class="form-group">
            <label for="sat">SAT</label>
              <input class="form-control" type="number" min="0" max="2400" name="sat" value="{{ univData.sat }}">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="satSub">SAT Subject</label>
              <input class="form-control" type="text" name="satSub" value="{{ univ3ata.satSub }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="ielts">IELTS</label>
            <select name="ielts" class="form-control">
              <option {% if univData.ielts=="0" %} selected {%endif%} value="0">0</option>
              <option {% if univData.ielts=="1" %} selected {%endif%} value="1">1</option>
              <option {% if univData.ielts=="2" %} selected {%endif%} value="2">2</option>
              <option {% if univData.ielts=="2.5" %} selected {%endif%} value="2.5">2.5</option>
              <option {% if univData.ielts=="3" %} selected {%endif%} value="3">3</option>
              <option {% if univData.ielts=="3.5" %} selected {%endif%} value="3.5">3.5</option>
              <option {% if univData.ielts=="4" %} selected {%endif%} value="4">4</option>
              <option {% if univData.ielts=="4.5" %} selected {%endif%} value="4.5">4.5</option>
              <option {% if univData.ielts=="5" %} selected {%endif%} value="5">5</option>
              <option {% if univData.ielts=="5.5" %} selected {%endif%} value="5.5">5.5</option>
              <option {% if univData.ielts=="6" %} selected {%endif%} value="6">6</option>
              <option {% if univData.ielts=="6.5" %} selected {%endif%} value="6.5">6.5</option>
              <option {% if univData.ielts=="7" %} selected {%endif%} value="7">7</option>
              <option {% if univData.ielts=="7.5" %} selected {%endif%} value="7.5">7.5</option>
              <option {% if univData.ielts=="8" %} selected {%endif%} value="8">8</option>
              <option {% if univData.ielts=="8.5" %} selected {%endif%} value="8.5">8.5</option>
              <option {% if univData.ielts=="9" %} selected {%endif%} value="9">9</option>
            </select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="toefl">TOEFL</label>
              <input class="form-control" type="number" min="0" max="120" name="toefl" value="{{ univData.toefl }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="act">PTE</label> <!--IMPORTANT: Renamed ACT as PTE ONLY in frontend for Convinence it is still stored as ACT in Database-->
              <input class="form-control" type="text" name="act" value="{{ univData.act }}">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="backlogs">BackLogs</label>
              <input class="form-control" type="text" name="backlogs" value="{{ univData.backlogs }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="percentInBachelor">Percentage in Bachelors</label>
              <input class="form-control" type="text" name="percentInBachelor" value="{{ univData.percentInBachelor }}" >
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 form-group">
            <div class="form-group">
            <label for="workExp">Work Experience</label>
              <input class="form-control" type="text" name="workExp" value="{{ univData.workExp }}" >
            </div>
          </div>
        </div>
        <button type="submit" role="submit" class="btn btn-default btn-large center-block">SAVE</button>
      </form>
      <script>
    </script>
    </div>
{% endblock %}
