
{% extends 'nav.html' %}

{% block title %}
  {% parent %}
    Universities of Switzerland
{% endblock %}

{% block userclass %}class="active"{% endblock %}

{% block customCSS %}
 {% parent %}
   <link href="css/style.css" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
  {% parent %}
  {% if success.length>0 %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{success[0]}}
            </div>
        </div>
    </div>
    {% endif %}
    {% if error.length>0 %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{error[0]}}
            </div>
        </div>
    </div>
    {% endif %}
    <table id="userData" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Intake</th>
                <th>Course Name</th>
                <th>City</th>
                <th>Deadline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for univ in univData %}
               <tr>
                    <td><a href="/counsellor/SwitzerlandDetails/{{ univ._id.toString() }}">{{ univ.university }}</a></td>
                    <td>{{ univ.intake }}</td>
                    <td>{{ univ.coursename }}</td>
                    <td>{{ univ.city }}</td>
                    <td>{{ univ.deadline }}</td>
                    <td><a href = "/counsellor/actionunivSwitzerland/{{univ._id.toString()}}"<i title="Remove" class="fa fa-trash-o"></i></a></td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
