<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Student Login</title>
<link href="css/login.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<!--web-fonts-->
<style>
	.text{ 
		font-size: 20px;
	}
</style>
</head>
<body>
	<div class="main">
		<div class="login">
			<h1>Student Login</h1>
			<div class="login-bottom">
			<img src="images/confluence.png">
			<form action="/userslogin" method="POST">
				<input type="text" placeholder="Username" required="true" name ="username">					
				<input type="password" class="password" placeholder="Password" required="true" name ="password">
				{% if error.length>0 %}
						<p style="color: #9B111E;">{{error[0]}}</p>
						{% endif %}			
				<input type="submit" value="login">
			</form>
			<a href="/users/forgot"><p>Forgot your password? Click Here</p></a>
			<p class="text">New User ? <a href="/users/register">Register Here</a></p>
			</div>
		</div>
	</div>
</body>
</html>
